@font-face {
     font-family: 'DMSansBold';
     src: url('fonts/DMSans-Bold.eot');
     src: local('fonts/DMSans-Bold'), local('fonts/DMSans-Bold'),
          url('fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/DMSans-Bold.woff2') format('woff2'),
          url('fonts/DMSans-Bold.woff') format('woff'),
          url('fonts/DMSans-Bold.ttf') format('truetype'),
          url('fonts/DMSans-Bold.svg#DMSans-Bold') format('svg');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'DMSansMedium';
     src: url('fonts/DMSans-Medium.eot');
     src: local('fonts/DMSans-Medium'),
          url('fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
          url('fonts/DMSans-Medium.woff2') format('woff2'),
          url('fonts/DMSans-Medium.woff') format('woff'),
          url('fonts/DMSans-Medium.ttf') format('truetype'),
          url('fonts/DMSans-Medium.svg#DMSans-Medium') format('svg');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}


@font-face {
     font-family: 'DMSansRegular';
     src: url('fonts/DMSans-Regular.eot');
     src: local('fonts/DMSans-Regular'), local('fonts/DMSans-Regular'),
          url('fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/DMSans-Regular.woff2') format('woff2'),
          url('fonts/DMSans-Regular.woff') format('woff'),
          url('fonts/DMSans-Regular.ttf') format('truetype'),
          url('fonts/DMSans-Regular.svg#DMSans-Regular') format('svg');
     font-weight: 400;
     font-style: normal;
     font-display: swap;
}


@font-face {
     font-family: 'DomineBold';
     src: url('fonts/Domine-Bold.eot');
     src: local('fonts/Domine-Bold'), local('fonts/Domine-Bold'),
          url('fonts/Domine-Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/Domine-Bold.woff2') format('woff2'),
          url('fonts/Domine-Bold.woff') format('woff'),
          url('fonts/Domine-Bold.ttf') format('truetype'),
          url('fonts/Domine-Bold.svg#Domine-Bold') format('svg');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'DomineMedium';
     src: url('fonts/Domine-Medium.eot');
     src: local('fonts/Domine-Medium'), local('fonts/Domine-Medium'),
          url('fonts/Domine-Medium.eot?#iefix') format('embedded-opentype'),
          url('fonts/Domine-Medium.woff2') format('woff2'),
          url('fonts/Domine-Medium.woff') format('woff'),
          url('fonts/Domine-Medium.ttf') format('truetype'),
          url('fonts/Domine-Medium.svg#Domine-Medium') format('svg');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'DomineRegular';
     src: url('fonts/Domine-Regular.eot');
     src: local('fonts/Domine-Regular'), local('fonts/Domine-Regular'),
          url('fonts/Domine-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/Domine-Regular.woff2') format('woff2'),
          url('fonts/Domine-Regular.woff') format('woff'),
          url('fonts/Domine-Regular.ttf') format('truetype'),
          url('fonts/Domine-Regular.svg#Domine-Regular') format('svg');
     font-weight: 400;
     font-style: normal;
     font-display: swap;
}