// --- COLORS ---

// -- primary --
$color-primary-1: #F2FFFA;
$color-primary-2: #D8FFF2;
$color-primary-3: #BFFFE9;
$color-primary-4: #A5FFE0;
$color-primary-5: #7FFFD4;
$color-primary-6: #65CCA9;
$color-primary-7: #4C997F;
$color-primary-8: #326654;
$color-primary-9: #19332A;

// -- base --
$color-base-1: #FFFFFF;
$color-base-2: #E5E5E5;
$color-base-3: #CCCCCC;
$color-base-4: #B2B2B2;
$color-base-5: #999999;
$color-base-6: #7F7F7F;
$color-base-7: #666666;
$color-base-8: #333333;
$color-base-9: #000000;

// -- other --
$color-bg-primary: #F9F9F9;

// --- Typography ---

// -- fonst size --
$fs-hero-title: 60px; // 60px
$fs-section-title: 42px; // 42px
$fs-hero-text: 22px; // 22px
$fs-text1: 18px; // 18px
$fs-text2: 18px; // 18px
$fs-small-title: 16px; // 16px
$fs-text: 16px; // 16px
$fs-h6: 20px; // 20px
$fs-p: 18px; // 18px
$fs-sm: 12px; // 12px

// -- line height --
$lh-hero-title: 64px; // 64px
$lh-section-title: 46px; // 46px
$lh-hero-text: 32px; // 32px
$lh-text1: 20px; // 20px
$lh-text2: 20px; // 20px
$lh-small-title: 24px; // 24px
$lh-text: 24px; // 24px
$lh-h6: 30px; // 30px
$lh-p: 24px; // 24px
$lh-sm: 14px; // 14px

// -- font family --
$ff-dm-sans-700: 'DMSansBold',
sans-serif;
$ff-dm-sans-500: 'DMSansMedium',
sans-serif;
$ff-dm-sans-400: 'DMSansRegular',
sans-serif;
$ff-domine-700: 'DomineBold',
sans-serif;
$ff-domine-500: 'DomineMedium',
sans-serif;
$ff-domine-400: 'DomineRegular',
sans-serif;